/* Footer */
.footer {
    background: #fff;
    color: slategrey;
    text-align: center;
    padding: 2.5em 0;
    font-size: 1.125em;
}

.footer a {
    color: inherit;
    text-decoration: none;
}



.footer-link:hover,
.social-item-link:hover{
    opacity: .7;
}

.footer-link:hover {
    text-decoration: underline;
}
 
.footer-link {
    font-weight: var(--fw-bold);
}

.social-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 2em 0 0;
    padding: 0;
}

.social-list-item {
    margin: 0 .5em;
}

.social-list-link {
    padding: .5em;
}